{% extends "base.html" %}
{% block body %}
<nav class="navbar navbar-expand-lg navcolor">
    <div class="container nav-container">
        <a class="navbar-brand" href="/">EasePay</a>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" id="username" href="{{ url_for('profile') }}"><img src="/static/assets/user.png"
                            class="img-fluid" />Hey, {{ username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signout') }}">Signout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="row w-80 formpage bg-white p-5">
        <div class="col">
            <img src="/static/assets/payment.svg" class="img-fluid" alt="EasePay">
        </div>
        <div class="col p-5">
            <h1 class="text-center display-4 pb-3">Successful Payment</h1>
            <h3>You've earned 30 special coins!!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore enim expedita atque
                consectetur eaque recusandae</p>
            <a href="{{ url_for('dashboard') }}"><button id="success" class="btn btn-primary px-3">Another
                    payment</button></a>
            <a href="{{ url_for('wallet') }}"><button id="wallet" class="btn btn-primary px-3">Check Wallet</button></a>

        </div>
    </div>
</div>
{% endblock %}